useDynLib(ArduinoControl)
import(RGtk2)
import(MenuCollection)
import(BBmisc)
import(stringr)
export(AR_arduino_analog)
export(AR_arduino_digital)
export(AR_arduino_parameters)
export(AR_arduino_port)
export(AR_arduino_start)
export(arduino_toolbar)
